.git
.gitignore
*.md
.vscode
.idea
**/build/
**/web/app/
**/certs/
**/doc/
**/.dart_tool/
**/android/
**/ios/
**/linux/
**/macos/
**/windows/
**/test/
**/.packages
**/coverage/
docker-compose.override.yaml
Caddyfile
